@model IEnumerable<OutageDataLayer.QueryResultModels.OutageQueryResult>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DataTablesLayout.cshtml";
}

<form asp-action="Index" method="post">
    <span>ElementId</span>
    <input type="number" name="ElementId" />
    <span>OutageType</span>
    <input type="text" name="OutageType" />
    <span>ElementType</span>
    <input type="text" name="ElementType" />
    <span>OutFromDate</span>
    <input type="date" name="OutFromDate" />
    <span>OutToDate</span>
    <input type="date" name="OutToDate" />
    <span>InFromDate</span>
    <input type="date" name="InFromDate" />
    <span>InToDate</span>
    <input type="date" name="InToDate" />
    <span>Outage Remarks Search</span>
    <input type="text" name="ReasonSearchText" />
    <input type="submit" class="btn btn-success" value="Search" />
</form>

<table id="outageResultsDiv" class="stripe row-border order-column" style="width:100%">
    <thead>
        <tr>
            <th>
                VoltageLevel
            </th>
            <th>
                ElementName
            </th>
            <th>
                ElementType
            </th>
            <th>
                OutTime
            </th>
            <th>
                InTime
            </th>
            <th>
                OutageType
            </th>
            <th>
                OutageReason
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.VoltageLevel
                </td>
                <td>
                    @item.ElementName
                </td>
                <td>
                    @item.ElementType
                </td>
                <td>
                    @item.OutTime.ToString("dd-MMM-yy HH:mm")
                </td>
                <td>
                    @item.InTime.ToString("dd-MMM-yy HH:mm")
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.OutageType))
                    {
                        @item.OutageType
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.OutageReason))
                    {
                        @item.OutageReason
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                VoltageLevel
            </th>
            <th>
                ElementName
            </th>
            <th>
                ElementType
            </th>
            <th>
                OutTime
            </th>
            <th>
                InTime
            </th>
            <th>
                OutageType
            </th>
            <th>
                OutageReason
            </th>
        </tr>
    </tfoot>
</table>