@model IEnumerable<OutageDataLayer.QueryResultModels.OutageQueryResult>
@{
    ViewData["Title"] = "View Outages";
    Layout = "~/Views/Shared/_DataTablesLayout.cshtml";
}

<form asp-action="Index" method="post">
    <span>ElementId</span>
    <input type="number" name="ElementId" />
    <span>OutageType</span>
    <input type="text" name="OutageType" />
    <span>ElementType</span>
    <input type="text" name="ElementType" />
    <span>OutFromDate</span>
    <input type="date" name="OutFromDate" />
    <span>OutToDate</span>
    <input type="date" name="OutToDate" />
    <span>InFromDate</span>
    <input type="date" name="InFromDate" />
    <span>InToDate</span>
    <input type="date" name="InToDate" />
    <span>Outage Remarks Search</span>
    <input type="text" name="ReasonSearchText" />
    <input type="submit" class="btn btn-success" value="Search" />
</form>

<table id="outageResultsDiv" class="stripe row-border order-column" style="width:100%">
    <thead>
        <tr>
            <th>
                VoltageLevel
            </th>
            <th>
                ElementName
            </th>
            <th>
                Element Owner
            </th>
            <th>
                OutTime
            </th>
            <th>
                InTime
            </th>
            <th>
                OutageType
            </th>
            <th>
                Remarks
            </th>
            <th>
                OutageCategory
            </th>
            <th>
                Outage Duration
            </th>
            <th>
                Outage Hours
            </th>
            <th>
                ElementType
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string spanTimeString;
            string spanHrsString;

            @if (item.InTime.Year != 0001)
            {
                @*Show time span in hrs*@
                TimeSpan spanTime = (item.InTime - item.OutTime);
                spanTimeString = spanTime.ToString("g");
                spanHrsString = string.Format("{0:N2}", spanTime.TotalHours);
            }
            else
            {
                spanTimeString = "---";
                spanHrsString = "---";
            }
            <tr>
                <td>
                    @item.VoltageLevel
                </td>
                <td>
                    @item.ElementName
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ElementOwner))
                    {
                        @item.ElementOwner
                    }
                </td>
                <td>
                    @item.OutTime.ToString("dd-MMM-yy HH:mm")
                </td>
                <td>
                    @if (item.InTime.Year != 0001)
                    {
                        @item.InTime.ToString("dd-MMM-yy HH:mm")
                    }
                    else
                    {
                        <span>-Unrevived-</span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.OutageType))
                    {
                        @item.OutageType
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.OutageReason))
                    {
                        @item.OutageReason
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.OutageCategory))
                    {
                        @item.OutageCategory
                    }
                </td>
                <td>
                    @spanTimeString
                </td>
                <td>
                    @spanHrsString
                </td>
                <td>
                    @item.ElementType
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                VoltageLevel
            </th>
            <th>
                ElementName
            </th>
            <th>
                Element Owner
            </th>
            <th>
                OutTime
            </th>
            <th>
                InTime
            </th>
            <th>
                OutageType
            </th>
            <th>
                Remarks
            </th>
            <th>
                OutageCategory
            </th>
            <th>
                Outage Duration
            </th>
            <th>
                Outage Hours
            </th>
            <th>
                ElementType
            </th>
        </tr>
    </tfoot>
</table>